
.fullscr {
    width: 110px;
}

.chmod-btn {
    margin: 5px auto;
    padding: 4px;
    display: ruby;
    text-align: center;
    font-size: 1.5em;
    cursor: default;
    background-color: #EAEAC9;
    border: burlywood;
}

.chmod-btn:hover {

    background-color: burlywood;
}

.button {

    
    margin: 5px auto ;
    padding: 4px;
    text-align: center;
    width: 25px;
    font-size: 1.5em;
    cursor: default;
}


.num {
    border: aqua;
    background: darkgray;
}
.math {
    border: #00b1ff;
    background: #00b1ff;

}

.math:hover {
    border: #0a4bff;
    background: #0a4bff;
}

.spec {
    border: #00ffbf;
    background: #00ffbf;
    margin: 5px auto ;
    padding: 4px;
    text-align: center;
    width: 32.5px;
    font-size: 1.5em;
    cursor: default;
}

.spec:hover {
    border: #009670;
    background: #009670;
}

.equal {
    border: #00b1ff;
    background: #0068ff;

}

.equal:hover {
    border: #0a4bff;
    background: #5a00ff;
}

.num:hover {
    border: aquamarine;
    background: gray;
}

.text {
    background-color: #99f2ef;

    text-align: center;
}


.clear {
    background-color: #FBFBC9;
}

.clear:hover {
    background-color: #EAEAC9;
}